<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.d3ifcool.nabung">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sunflower.nabung.EditPengeluaranActivity"></activity>
        <activity android:name="com.sunflower.nabung.EditPemasukanActivity" />
        <activity android:name="com.sunflower.nabung.EditWishlistActivity" />
        <activity
            android:name="com.sunflower.nabung.AboutAppActivity"
            android:label="Tentang Aplikasi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sunflower.nabung.MainActivity" />
        </activity>
        <activity android:name="com.sunflower.nabung.IntroActivity" />
        <activity
            android:name="com.sunflower.nabung.TambahSaldoNabungActivity"
            android:label="Nabung"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sunflower.nabung.MainActivity" />
        </activity>
        <activity
            android:name="com.sunflower.nabung.TambahPengeluaranActivity"
            android:label="Tambah Pengeluaran"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sunflower.nabung.MainActivity" />
        </activity>
        <activity
            android:name="com.sunflower.nabung.TambahPemasukanActivity"
            android:label="Tambah Pemasukan"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sunflower.nabung.MainActivity" />
        </activity>
        <activity
            android:name="com.sunflower.nabung.TambahWishlistActivity"
            android:label="Tambah Wishlist"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sunflower.nabung.MainActivity" />
        </activity>
        <activity
            android:name="com.sunflower.nabung.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sunflower.nabung.RegisterActivity"
            android:label="Daftar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sunflower.nabung.MainActivity" />
        </activity>
        <activity
            android:name="com.sunflower.nabung.SplashscreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.sunflower.nabung.MainActivity"
            android:label="@string/title_activity_menu_utama"
            android:screenOrientation="portrait" />
    </application>

</manifest>